<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-form-field>
        <input matInput [(ngModel)]="lunch.title" placeholder="Title"/>
      </mat-form-field>
    </mat-card-title>
  </mat-card-header>
  <app-image-upload (onUploadCompleted)="onImageUploaded($event);"></app-image-upload>
  <mat-card-content class="lunch-container">
    <mat-form-field>
      <textarea matInput rows="5" [(ngModel)]="lunch.description" placeholder="Desciption"></textarea>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="submit()">Submit</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </mat-card-actions>
</mat-card>
